@use "base" as *;

* {
  font-family: sans-serif;
}

header {
  height: 50px;
  p {
    font-weight: bold;
    font-size: large;
  }
}

nav {
  height: 100%;
  width: 100%;
  background-color: $secondary-color;
  display: flex;
  justify-content: center; 
  ul {
    height: 100%;
    width: 100%;
    background-color: $secondary-color;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0; 

    li {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      color: white;
      padding-left: 15px;
      padding-right: 15px;

      &:hover {
        background-color: $primary-color;
      }
    }
  }
}

@media screen and (max-width: 640px) {

  header {
    height: auto;
  }

  nav {
    
    ul {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      li {
        width: 100%;
        padding: 10px 0px 10px 0px;
        justify-content: center;
      }
    }
  }
}
