body {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 120px;
    justify-content: center; 
    align-items: center; 
    border: solid black 1px;
    margin-bottom: 1px;
    font-weight: bold;
}

