@use "base" as *;

$base-color: red;
$important-color: darken($base-color, 30%);
$warning-color : lighten($base-color , 35%);


.container {
    border-radius: 5%;
}

.base {
    background-color: $base-color ;
}

.important {
    background-color: $important-color ;
}

.warning {
    background-color: $warning-color ;
}

.principal {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.secondary {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.shadow {
    box-shadow: -10px 10px 15px black;
}