@use "base" as *;

.container {
    border-radius: 10%;
}

.base {
    background-color: $base-color-cool;
}

.important {
    background-color: $important-color-cool;
}

.warning {
    background-color: $warning-color-cool;
}

.principal {
    font-family: 'Courier New', Courier, monospace;
}

.secondary {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shadow {
    box-shadow: 10px 10px 15px black;
}