@use "base" as *;

.container {
    border-radius: 5%;
}

.base {
    background-color: $base-color-warm;
}

.important {
    background-color: $important-color-warm;
}

.warning {
    background-color: $warning-color-warm;
}

.principal {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.secondary {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.shadow {
    box-shadow: -10px 10px 15px black;
}